 <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title> Company Portal</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <header>
        <div class="container">
            <div class="companylogo">
                <img src="./images/circle logo.png" alt=" circle-logo">
            </div>
            <h1 class="companyname">Company Portal</h1>
        </div>
    </header>
    <main>
        {{{body}}}
    </main> 
   
 </html>