     <div class="login-container">
        <div class="login">
            <h1 class="login-text1">Welcome</h1>
            <p class="login-text2">Please login</p>
            <div class="login-form">
                <div class="employee-ID" id="employee-ID">
                    <input type="text" placeholder="Employee ID" required>
                </div>
                <div class="employee-password" id="employee-password">
                    <input type="text" placeholder="Password" required>
                </div>
                <div class="button">
                    <button type="submit">Enter</button>
                </div>
            </div>
        </div>
    </div>
    
          
  <script src="/js/homepage.js"></script>