/*Google Fonts- Loster Two, Poppins, and Ubuntu */
/* font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Poppins&family=Ubuntu&display=swap');
/* Whole page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(128, 239, 202);
}
/* Homepage Header */
header .container{
    margin: 10px;
    font-family: 'Lobster Two', cursive;
    display: flex;
   
}
header .companyname{
    padding: 15px;
   
}
img{
    width: 60px;
    border-radius: 200%;
}

